body{
  padding: 10px;
}
.tag {
  display: inline-block;
  width: 90px;
  font-weight: 900;
  font-size: 25px;
  background-color: rgb(228, 227, 227);

}

.first-heading{
  color: blue;
  font-size: 30px;
  text-align: center;
}

.first-paragraph {
  color: blue;
  font-size: 20px;
  text-align: center;
}

.first-button {
  width: 120px;
  height: 30px;
  background-color: blue;
  color: aqua;
  border-radius: 10px;
  margin-left: 700px;
}

.first-paragraph-button {
  text-align: center;
}

.first-paragraph-h {
  text-align: center;
  font-size: 30px;
}